node_modules
yarn.lock
ios/.DS_Store
*.xcworkspacedata
*.xcuserstate
*.xcbkptlist
ios/react_native-arkit-swift.xcodeproj/xcuserdata/ray.xcuserdatad/xcschemes/xcschememanagement.plist
ios/react_native-arkit-swift/.DS_Store
.DS_Store
yarn-error.log
